<form class="tp-form" (ngSubmit)="onSubmit()" #loginForm="ngForm">
  <h1 mat-dialog-title><strong>{{title}}</strong></h1>
  <div mat-dialog-content>

    <!-- Account number control -->
    <ng-container>
      <p class="input-title">Account number</p>
      <mat-form-field *ngIf="isAdmin">
        <input matInput [(ngModel)]="newAccount.account_number" [formControl]="accountNumberFormControl"
          (change)="onChangeAccountNumber()" type="number" name="account_number" required>
        <mat-error *ngIf="accountNumberFormControl.hasError('required')">
          Account number is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-error class="out-eror" *ngIf="accountNumberExisted">Account existed</mat-error>

      <div *ngIf="!isAdmin" class="mat-form-field-wrapper">
        <div class="mat-form-field-flex">
          <div class="mat-form-field-infix">
            <p class="mat-input-element">
              {{newAccount.account_number}}</p>
          </div>
          <div class="mat-form-field-underline"><span class="mat-form-field-ripple"></span>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- First name control -->
    <ng-container>
      <p class="input-title">First name</p>
      <mat-form-field *ngIf="isAdmin">
        <input matInput [(ngModel)]="newAccount.firstname" name="firstname" required>
      </mat-form-field>

      <div *ngIf="!isAdmin" class="mat-form-field-wrapper">
        <div class="mat-form-field-flex">
          <div class="mat-form-field-infix">
            <p class="mat-input-element">
              {{newAccount.firstname}}</p>
          </div>
          <div class="mat-form-field-underline"><span class="mat-form-field-ripple"></span>
          </div>
        </div>
      </div>

    </ng-container>

    <!-- Last name control -->
    <ng-container>
      <p class="input-title">Last name</p>
      <mat-form-field *ngIf="isAdmin">
        <input matInput [(ngModel)]="newAccount.lastname" name="lastname" required>
      </mat-form-field>

      <div *ngIf="!isAdmin" class="mat-form-field-wrapper">
        <div class="mat-form-field-flex">
          <div class="mat-form-field-infix">
            <p class="mat-input-element">
              {{newAccount.lastname}}</p>
          </div>
          <div class="mat-form-field-underline"><span class="mat-form-field-ripple"></span>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- Email control -->
    <ng-container>
      <p class="input-title">Email</p>
      <mat-form-field *ngIf='isAdmin'>
        <input matInput [formControl]="emailFormControl" (ngModelChange)="onEmailChanging($event)"
          (change)="onEmailChange()" [(ngModel)]="newAccount.email" type="email" required name="email">
        <mat-error *ngIf="emailFormControl.hasError('email') 
        && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-error class="out-eror" *ngIf="emailExisted">Email existed</mat-error>

      <div *ngIf="!isAdmin" class="mat-form-field-wrapper">
        <div class="mat-form-field-flex">
          <div class="mat-form-field-infix">
            <p class="mat-input-element">
              {{newAccount.email}}</p>
          </div>
          <div class="mat-form-field-underline"><span class="mat-form-field-ripple"></span>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- Password control -->
    <ng-container *ngIf="isAdmin && !isUpdate">
      <p class="input-title">Password</p>
      <mat-form-field>
        <input matInput [(ngModel)]="newAccount.password" [formControl]="passwordFormControl" type="password"
          name="password" required>
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </ng-container>

    <!-- Balance control -->
    <ng-container>
      <p class="input-title">Balance</p>
      <mat-form-field *ngIf='isAdmin'>
        <input matInput [(ngModel)]="newAccount.balance"  [formControl]="balanceFormControl" type="number" name="balance" required>
        <mat-error *ngIf="balanceFormControl.hasError('min')">
           Balance must be greater  or equal 0
          </mat-error>
      </mat-form-field>

      <div *ngIf="!isAdmin" class="mat-form-field-wrapper">
        <div class="mat-form-field-flex">
          <div class="mat-form-field-infix">
            <p class="mat-input-element">
              {{newAccount.balance}}</p>
          </div>
          <div class="mat-form-field-underline"><span class="mat-form-field-ripple"></span>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- Age Control -->
    <div class="form-inline">
      <div class="age-container">
        <p class="input-title">Age</p>
        <mat-form-field *ngIf="isAdmin">
          <input matInput [(ngModel)]="newAccount.age" (change)="onChangeAge()" type="number" name="age" min=0
            [formControl]="ageControl">
          <mat-error *ngIf="ageControl.hasError('max')">
            Age less than 150
          </mat-error>
          <mat-error *ngIf="ageControl.hasError('min')">
            Age starts from 0
          </mat-error>
        </mat-form-field>

        <div *ngIf="!isAdmin" class="mat-form-field-wrapper">
          <div class="mat-form-field-flex">
            <div class="mat-form-field-infix">
              <p class="mat-input-element">
                {{newAccount.age}}</p>
            </div>
            <div class="mat-form-field-underline"><span class="mat-form-field-ripple"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="dob-container" *ngIf="isAdmin">
        <p class="input-title">Select date of birth</p>
        <mat-form-field>
          <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" [(ngModel)]='initDate'
            (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)"
            (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)" name="dob">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <!-- Gender control -->
    <ng-container>
      <p class="input-title">Gender</p>
      <mat-form-field *ngIf="isAdmin">
        <mat-select [(value)]="newAccount.gender">
          <mat-option value="M">Male</mat-option>
          <mat-option value="F">Female</mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="!isAdmin" class="mat-form-field-wrapper">
        <div class="mat-form-field-flex">
          <div class="mat-form-field-infix">
            <p class="mat-input-element">
              {{newAccount.gender}}</p>
          </div>
          <div class="mat-form-field-underline"><span class="mat-form-field-ripple"></span>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- Address control -->
    <ng-container>
      <p class="input-title">State</p>
      <mat-form-field *ngIf='isAdmin'>
        <input matInput [(ngModel)]="newAccount.address" name="state">
      </mat-form-field>

      <div *ngIf="!isAdmin" class="mat-form-field-wrapper">
        <div class="mat-form-field-flex">
          <div class="mat-form-field-infix">
            <p class="mat-input-element">
              {{newAccount.address}}</p>
          </div>
          <div class="mat-form-field-underline"><span class="mat-form-field-ripple"></span>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- City control -->
    <ng-container>
      <p class="input-title">City</p>
      <mat-form-field *ngIf='isAdmin'>
        <input matInput [(ngModel)]="newAccount.city" name="city">
      </mat-form-field>

      <div *ngIf="!isAdmin" class="mat-form-field-wrapper">
        <div class="mat-form-field-flex">
          <div class="mat-form-field-infix">
            <p class="mat-input-element">
              {{newAccount.city}}</p>
          </div>
          <div class="mat-form-field-underline"><span class="mat-form-field-ripple"></span>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- Address control -->
    <ng-container>
      <p class="input-title">Address</p>
      <mat-form-field *ngIf='isAdmin'>
        <input matInput [(ngModel)]="newAccount.address" name="address">
      </mat-form-field>

      <div *ngIf="!isAdmin" class="mat-form-field-wrapper">
        <div class="mat-form-field-flex">
          <div class="mat-form-field-infix">
            <p class="mat-input-element">
              {{newAccount.address}}</p>
          </div>
          <div class="mat-form-field-underline"><span class="mat-form-field-ripple"></span>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- Emploer control -->
    <ng-container>
      <p class="input-title">Employer</p>
      <mat-form-field *ngIf='isAdmin'>
        <input matInput [(ngModel)]="newAccount.employer" name="employer">
      </mat-form-field>

      <div *ngIf="!isAdmin" class="mat-form-field-wrapper">
        <div class="mat-form-field-flex">
          <div class="mat-form-field-infix">
            <p class="mat-input-element">
              {{newAccount.employer}}</p>
          </div>
          <div class="mat-form-field-underline"><span class="mat-form-field-ripple"></span>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- Role control -->
    <ng-container>
      <p class="input-title">Role</p>
      <mat-form-field *ngIf="isAdmin">
        <mat-select [(value)]="newAccount.role">
          <mat-option value="Admin">Admin</mat-option>
          <mat-option value="Normal">Normal</mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="!isAdmin" class="mat-form-field-wrapper">
        <div class="mat-form-field-flex">
          <div class="mat-form-field-infix">
            <p class="mat-input-element">
              {{newAccount.role}}</p>
          </div>
          <div class="mat-form-field-underline"><span class="mat-form-field-ripple"></span>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div mat-dialog-actions class="align-right">
    <button mat-button (click)="onNoClick()">Close</button>
    <button *ngIf="isAdmin" mat-raised-button color="primary" cdkFocusInitial type="submit">Ok</button>
  </div>


</form>