<div class="account-header">
    <div class="search-form">
        <button *ngIf="isAdvanceSearch" mat-icon-button (click)="onToggleAdvanceSearch()"
            matTooltip="Open advance serach">
            <mat-icon>search</mat-icon>
        </button>
        <ng-container *ngIf="!isAdvanceSearch">
            <mat-form-field>
                <input matInput [formControl]="allFieldFilter" placeholder="Search">
            </mat-form-field>
            <button mat-icon-button (click)="onToggleAdvanceSearch()" matTooltip="Open advance serach">
                <mat-icon>expand_more</mat-icon>
            </button>
        </ng-container>
    </div>
    <div class="add-button">
        <button *ngIf="isAdmin" mat-raised-button color="primary" (click)="onOpenCreateForm()">Create account</button>
    </div>
</div>

<div class="mat-elevation-z8">
    <div class="table-container">
        <table mat-table [dataSource]="dataSource">
            <!-- Account numver -->
            <ng-container matColumnDef="account_number">
                <th class="header" class="header" mat-header-cell *matHeaderCellDef>
                    Account number
                    <mat-form-field *ngIf="isAdvanceSearch" class="filter" floatLabel="never">
                        <mat-label>Search</mat-label>
                        <input matInput [formControl]="accountNumberFilter">
                    </mat-form-field>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.account_number}} </td>
            </ng-container>

            <!-- First name Column -->
            <ng-container matColumnDef="firstname">
                <th class="header" class="header" mat-header-cell *matHeaderCellDef> First name
                    <mat-form-field *ngIf="isAdvanceSearch" class="filter" floatLabel="never">
                        <mat-label>Search</mat-label>
                        <input matInput [formControl]="firstNameFilter">
                    </mat-form-field>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
            </ng-container>

            <!-- Last name Column -->
            <ng-container matColumnDef="lastname">
                <th class="header" class="header" mat-header-cell *matHeaderCellDef>
                    Last name
                    <mat-form-field *ngIf="isAdvanceSearch" class="filter" floatLabel="never">
                        <mat-label>Search</mat-label>
                        <input matInput [formControl]="lastNameFilter">
                    </mat-form-field>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
            </ng-container>

            <!-- Balance Column -->
            <ng-container matColumnDef="balance">
                <th class="header" class="header" mat-header-cell *matHeaderCellDef>
                    Balance
                    <mat-form-field *ngIf="isAdvanceSearch" class="filter" floatLabel="never">
                        <mat-label>Search</mat-label>
                        <input matInput [formControl]="balanceFilter" type="number">
                    </mat-form-field>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.balance}} </td>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="email">
                <th class="header" class="header" mat-header-cell *matHeaderCellDef>
                    Email
                    <mat-form-field *ngIf="isAdvanceSearch" class="filter" floatLabel="never">
                        <mat-label>Search</mat-label>
                        <input matInput [formControl]="emailFilter">
                    </mat-form-field>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <!-- Age Column -->
            <ng-container matColumnDef="age">
                <th class="header" class="header" mat-header-cell *matHeaderCellDef>
                    Age

                    <mat-form-field *ngIf="isAdvanceSearch" class="filter filter-ralative" floatLabel="never">
                        <mat-label>Search</mat-label>
                        <input class="age-control" matInput [formControl]="ageFilter" [value]="advanceFilterValues.age" placeholder="Search">
                        <input class="age-input-date" matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" [(ngModel)]='initDate'
                            (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)"
                            name="dob">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.age}} </td>
            </ng-container>

            <!-- Gender Column -->
            <ng-container matColumnDef="gender">
                <th class="header" class="header" mat-header-cell *matHeaderCellDef>
                    Gender
                    <mat-form-field *ngIf="isAdvanceSearch" class="filter" floatLabel="never">
                        <mat-label>Search</mat-label>
                        <mat-select [formControl]="genderFilter">
                            <mat-option value="M">M</mat-option>
                            <mat-option value="F">F</mat-option>
                        </mat-select>
                    </mat-form-field>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
            </ng-container>

            <!-- Employer Column -->
            <ng-container matColumnDef="employer">
                <th class="header" class="header" mat-header-cell *matHeaderCellDef>
                    Employer
                    <mat-form-field *ngIf="isAdvanceSearch" class="filter" floatLabel="never">
                        <mat-label>Search</mat-label>
                        <input matInput [formControl]="employerFilter">
                    </mat-form-field>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.employer}} </td>
            </ng-container>

            <!-- Address Column -->
            <ng-container matColumnDef="address">
                <th class="header" class="header" mat-header-cell *matHeaderCellDef>
                    Address
                    <mat-form-field *ngIf="isAdvanceSearch" class="filter" floatLabel="never">
                        <mat-label>Search</mat-label>
                        <input matInput [formControl]="addressFilter">
                    </mat-form-field>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.address}} </td>
            </ng-container>

            <!-- City Column -->
            <ng-container matColumnDef="city">
                <th class="header" class="header" mat-header-cell *matHeaderCellDef>
                    City
                    <mat-form-field *ngIf="isAdvanceSearch" class="filter" floatLabel="never">
                        <mat-label>Search</mat-label>
                        <input matInput [formControl]="cityFilter">
                    </mat-form-field>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.city}} </td>
            </ng-container>

            <!-- State Column -->
            <ng-container matColumnDef="state">
                <th class="header" class="header" mat-header-cell *matHeaderCellDef>
                    State
                    <mat-form-field *ngIf="isAdvanceSearch" class="filter" floatLabel="never">
                        <mat-label>Search</mat-label>
                        <input matInput [formControl]="stateFilter">
                    </mat-form-field>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.state}} </td>
            </ng-container>

            <!-- Remove Column -->
            <ng-container matColumnDef="remove" *ngIf="displayedColumns.indexOf('remove')">
                <th class="header" class="header" mat-header-cell *matHeaderCellDef>
                    <button mat-icon-button>
                        <mat-icon>clear_all</mat-icon>
                    </button>
                </th>
                <td mat-cell *matCellDef="let row; let i = index">
                    <button mat-icon-button (click)="onRemoveAccount(row, i)" matTooltip="Remove this score">
                        <mat-icon>clear</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onViewAccount(row)"></tr>
        </table>
    </div>
    <mat-paginator #paginator [pageSize]="20"></mat-paginator>
</div>